body {
  font-family: 'DM Sans', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.55556;
  margin: 0;

  color: #494f7c;
  /* Optionally adjust other default styles */
}

/* Additional CSS for specific components or styles */
